footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
 }
 /**
 .flex-container {
     flex-direction: column;
 }
 **/
 mat-toolbar {
     text-align: center;
     height: 30px;
 }

 span {
     margin: auto;
 }