<div class="footer" ng-app="footer">
    <footer class="md-padding">
        <div class="flex-container">
            <mat-toolbar color="primary"><span><a href="">Home</a></span></mat-toolbar>
            <mat-toolbar color="primary"><span><a href="/login">Login</a></span></mat-toolbar>
            <mat-toolbar color="primary"><span><a href="/create-listing">Post a Listing</a></span></mat-toolbar>
            <mat-toolbar color="primary"><span><a href="">About Us</a></span></mat-toolbar>
        </div>
    </footer>
</div>


<!---
 <div class="footer" ng-app="footer">
    <footer class="md-padding">
        <div class="flex-container">
                <div>Login</div>
                <div>Post a Listing</div>
                <div>Search</div>
                <div>About Us</div>
        </div>
    </footer>
</div>
-->