<div class="footer" ng-app="footer" layout="row" layout-fill>
    <footer class="md-padding">
        <div id="btmFooter" flex>
            <div class="md-padding" flex="noshrink">
                <div>
                    <a href="">Login</a>
                </div>
                <div>
                    <a href="">Post a Listing</a>
                </div>
                <div>
                    <a href="">Search</a>
                </div>
                <div>
                    <a href="">About Us</a>
                </div>
            </div>
        </div>
    </footer>
</div>