.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.card {
  max-width: 80vw;
}

h1 {
  font-weight: 100;
  font-size: 100px;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.button-container {
  display: flex;
  flex-direction: row;
}

.b {
  flex-grow: 1;
  text-transform: uppercase;
  height: 50px;
}
