.spacedPart {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 50em;
}

.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('/assets/nounApartments.png');
    background-size: cover;
  }

.container {
  height: 90vh;
  overflow: scroll;
  overflow-x: hidden;
}