<div class="container">

    <mat-card class="card">
        <mat-card-content>
            <h1 *ngIf="user">Welcome, {{user.fullName}}</h1>
        </mat-card-content>
        <mat-card-actions class="button-container">
          <button class="b" color="primary" [routerLink]="createListing" mat-raised-button >Post an Apartment</button>
          <button class="b" color="basic" [routerLink]="postedApartments" mat-raised-button >View your Posts</button>
          <button class="b" color="basic" [routerLink]="allListings" mat-raised-button >view all apartments</button>
          <button class="b" color="warn"  (click)="logout" mat-raised-button >Log out</button>
        </mat-card-actions>
      </mat-card>
      
</div>