<div class="container">
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>Create a new listing</mat-card-title>
            <mat-card-subtitle>Enter apartment details below</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
        
            <form [formGroup]="aptForm" (ngSubmit)="onSubmit()">
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Address</mat-label>
                    <input formControlName="address" matInput placeholder="Address">
                </mat-form-field>
                <br>
                <div class="row">
                    <mat-form-field appearance="fill">
                        <mat-label># Bedrooms</mat-label>
                        <input formControlName="numBeds" type="number" matInput placeholder="1">
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label># Bathrooms</mat-label>
                        <input formControlName="numBaths" type="number" matInput placeholder="1">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Area (sq. ft.)</mat-label>
                        <input formControlName="area" type="number" matInput placeholder="800">
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Price (monthly)</mat-label>
                        <input formControlName="price" type="number" matInput placeholder="1250.00">
                    </mat-form-field>
                    
                    <mat-form-field appearance="fill" class="grow">
                        <mat-label>Image URL</mat-label>
                        <input formControlName="imgURL" type="url" matInput>
                    </mat-form-field>
                </div>
                <br>
                <div class="row">
                    <mat-form-field class="half-width" appearance="fill">
                        <mat-label>Utilities Details</mat-label>
                        <input formControlName="utilDetails" matInput>
                    </mat-form-field>
                    <mat-form-field class="half-width" appearance="fill">
                        <mat-label>Restrictions </mat-label>
                        <input formControlName="restrictions" matInput>
                    </mat-form-field>
                </div>
                <br>
                <button mat-raised-button color="primary" type="submit">Create Listing</button>
            </form>
        </mat-card-content>
    </mat-card>
  </div>
  
