.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.card {
    width: 80vw;
}
.row {
    display: flex;
    flex-direction: row;
}
.grow {
    flex-grow: 1;
}

.full-width {
    width: 100%;
}
.half-width {
    width: 50%;
}