<!-- <form [formGroup]="createListingForm" (ngSubmit)="onSubmit()">
    <div formGroupName="owner">
        <h4>Owner</h4>
        <input type="text" placeholder="first Name" formControlName="firstName">
        <input type="text" placeholder="last Name" formControlName="lastName">
    </div>
    <div formGroupName="address">
        <h4>Address</h4> 
        <input type="text" placeholder="address" formControlName="street">
        <input type="text" placeholder="city" formControlName="city">
        <input type="text" placeholder="state" formControlName="state">
        <input type="text" placeholder="zip" formControlName="zip">
    </div>
    <div formGroupName="apartment">
        <h4>Aparment</h4>
        <input type="number" placeholder="sq. feet" formControlName="sqFeet">
        <input type="number" placeholder="bedrooms" formControlName="bedrooms">
        <input type="number" placeholder="bathrooms" formControlName="bathrooms">
        <label for="furnished">Furnished</label>
        <input type="checkbox" formControlName="furnished">
        <input type="text" placeholder="amenities" formControlName="amenities">
        <input type="text" placeholder="restrictions" formControlName="restrictions">
    </div>
    <button type="submit" [disabled]="!createListingForm.valid">Submit</button>
</form> -->

<div class="container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Create a new listing</mat-card-title>
            <mat-card-subtitle>Enter apartment details below</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
        
            <mat-form-field appearance="fill">
                <mat-label>Input</mat-label>
                <input [formControl]="email" matInput placeholder="thing">
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
              </mat-form-field>
              <br>
              <mat-form-field appearance="fill">
                  <mat-label>Input</mat-label>
                  <input [formControl]="email" matInput placeholder="thing">
                  <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                  <mat-label>Input</mat-label>
                  <input [formControl]="email" matInput placeholder="thing">
                  <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
                <br>

        </mat-card-content>
        <mat-card-actions>
            <button mat-button>Create Listing</button>
        </mat-card-actions>
    </mat-card>
  </div>
  
